/* reset browser styles */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-size: 10px;
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
section {
  font-size: 1.2rem;
  padding: 20px 100px;
}
.menu {
  background-color: purple;
  opacity: 0.9;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  left: -100vw;
}
.menu-link {
  z-index: 9;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 20px;
  left: 20px;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -9px;
  background-color: #333;
}
.menu-link span:before {
  content: '';
  margin-top: -6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu-link span:after {
  content: '';
  margin-top: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu-link_active span {
  height: 0;
}
.menu-link_active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 0;
}
.menu-link_active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 0;
}
.menu_active {
  left: 0;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.menu ul a {
  color: #fff;
  line-height: 4;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 2rem;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100vw;
}
.menu ul a:hover {
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
}
section p {
  text-align: justify;
}
/*Akbar*/
